<center>
  <h2>Welcome to ArithMatutor!</h2>
  <h3>Site Under Construction</h3>

  <p> Click <%= link_to "here", new_user_path %> to sign up, or if you're a new user, just <%= link_to "Sign In!", login_path %>
<br>
or
<br>

</optgroup>
    <%= link_to('Log in via GitHub!', '/auth/github') %>

</center>
