<center>
  <h2>Welcome to ArithMatutor!</h2>
  <h3>Need Help With Your Math?</h3>
<p>Arithmatutor is a social media app that allows users to help each other solve math problems </p>
  <p> Click <%= link_to "here", new_user_path %> to sign up, or if you're a new user, just <%= link_to "Sign In!", login_path %>
<br>
or
<br>

</optgroup>
    
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
</center>



